* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #ECEF48;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page1 h1{
    font-size: 80px;
    font-weight: 500;
}